<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.les.dao.mapper.UserMapper">

    <select id="getUserList" resultType="com.les.po.User">
        SELECT user_name,password,fullname,age,sex,graduate_institution,major,working_life FROM USER_INFO WHERE USER_TYPE=1;
    </select>

    <select id="getUser" resultType="com.les.po.User">
        SELECT USER_ID,USER_NAME,USER_TYPE,PASSWORD FROM USER_INFO WHERE USER_NAME=#{userName} AND PASSWORD=#{password};
    </select>

    <insert id="register" parameterType="com.les.dto.UserRegister">
        INSERT INTO user_info(user_name,user_type,password,fullname,age,sex,graduate_institution,major,working_life)
        VALUES (#{userName},#{userType}#{password},#{fullname},#{age},#{sex},#{graduateInstitution},#{major},#{workingLife});
    </insert>

    <select id="singleUser" resultType="com.les.po.User">
        SELECT USER_ID,USER_NAME,PASSWORD FROM USER_INFO WHERE USER_NAME=#{userName}
    </select>

    <select id="getLatestUserGoal" resultType="com.les.po.UserGoal">
        SELECT GOAL_ID,TOTAL_GOAL,USER_ID,START_TIME,END_TIME,EXAM_FLAG,REEXAM_FLAG FROM user_goal WHERE user_id=#{userId} order by GOAL_ID desc limit 1;
    </select>

    <insert id="insertGoal">
        INSERT INTO user_goal(total_goal)VALUES(#{totalGoal})WHERE user_id=#{userId}
    </insert>

    <insert id="insertUserGoal">
        INSERT INTO user_goal(user_id,start_time,exam_flag,reexam_flag)VALUES(#{userId},#{startDate},0,0)
    </insert>

    <insert id="commit">
        INSERT INTO user_goal(end_time)VALUES (#{endDate}) WHERE user_id=#{userId}
    </insert>

</mapper>